# Video assets stay local
*.3g2
*.3gp
*.avi
*.flv
*.m4v
*.mkv
*.mov
*.mp4
*.mpeg
*.mpg
*.mts
*.m2ts
*.ogv
*.webm
*.wmv
*.3G2
*.3GP
*.AVI
*.FLV
*.M4V
*.MKV
*.MOV
*.MP4
*.MPEG
*.MPG
*.MTS
*.M2TS
*.OGV
*.WEBM
*.WMV
